.spares {
    max-width: 1440px;
    width: 100%;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.spares-container .title {
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: Wix Madefor Display;
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: -2%;
    text-align: center;
    top: 316px;
}

.spares-container .text {
    position: absolute;
    top: 400px;
    color: rgb(255, 255, 255);
    font-family: Manrope;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
}